body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  color: rgb(210, 210, 210);
  text-align: justify;
}

h4 {
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all ease 0.3s;
  border-radius: 15px;
  text-align: center;
  color: white;
  border: 2px solid transparent;
}
h4:hover {
  background-color: rgba(2, 2, 209, 0.45);
  border-color: rgba(255, 255, 255, 0.384);
}
